html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  position: relative;
  font-family: 'Blinker', sans-serif;
}
div#numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
header, footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
h1 {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
div#calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 0.3;
  width: 80%;
}
div#display {
  height: 100px;
  background-color: #222;
  color: #4ee810;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
div#result {
  text-align: right;
  padding-top: 7px;
}
div#user-input, div#result {
  flex-basis: 48%;
}
div#user-input {
  height: 33.3%;
  padding-top: 7px;
}
div#da-line {
  flex-basis: 4%;
  background-color: #4ee810;
  width: 100%;
}
a {
  color: #4ee810;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div#operators button {
  color: #fff;
  border: none;
  border-radius: 8px;
  flex-basis: calc(20% - 2px);
  height: 35px;
  background-color: #1090e8;
}
div#operators button:hover {
  cursor: pointer;
}
div#managers button {
  background-color: #ee9c15;
  color: #fff;
  border: none;
  border-radius: 8px;
  flex-basis: calc(33.3% - 2px);
  height: 35px;
}
div#operators button[disabled] {
  cursor: default;
  opacity: 0.8;
}
button#clear {
  width: 80px !important;
}
div#managers button {
  cursor: pointer;
}
div#managers button[disabled] {
  cursor: default;
  opacity: 0.8;
}
div#managers {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
div#operators {
  display: flex;
  justify-content: space-between;
}
button {
  background-color: #222;
  padding: 5px;
  border-radius: 8px;
  color: #fff;
  border: none;
}
button:hover {
  color: #fff;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  div#display {
    font-size: 1.5em;
    height: 120px;
  }
  div#numbers {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
  div#controllers {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  div#operators {
    display: flex;
    justify-content: space-between;
    flex-basis: 48%;
  }
  div#managers {
    display: flex;
    justify-content: space-between;
    flex-basis: 48%;
    margin: 0;
  }
}
